{% extends "base_template.html" %}
{% load static %}
{% block title %}Каталог товаров{% endblock %}
{% block content %}
<body>
<div style="background: #F6F6F7; margin-left: -8px;">
    <div style="height: 180px; display: flex; align-items: center; justify-content: space-between;">
        {% for i in cats %}
<a href="{% url 'main:cat_filter' i.pk %}">
    <div style="width: 220px; display: flex; flex-direction: row; background: white; border-radius: 5px;">
        <div style="height: 85px;">
            <img src="{% get_media_prefix %}{{ i.image }}" alt="Каталог">
        </div>
        <div style="font-family: Arial; color: #363636; margin-top: 32px; margin-left: 15px;">
            <b>{{ i }}</b>
        </div>
    </div>
</a>
    {% endfor %}
    </div>
    <div style="height: 70px; font-family: Arial; color: #363636; margin-left: 8px;">
        <h1>Каталог товаров</h1>
        <hr>
    </div>
</div>
<div style="background: #F6F6F7; margin-left: -8px;">
    <div style="width: 80%; display: flex; flex-direction: row; justify-content: space-between;
                flex-wrap: wrap; margin-left: auto; margin-right: auto;">
        {% for product in prods %}
        <div style="width: 270px; height: 340px; padding: 8px; border-radius: 5px; margin-bottom: 25px;
                    background: white; font-family: Arial; position: relative;">
            <a href="{{ product.get_absolute_url }}">
                <div style="display: flex; width: 254px; height: 130px; margin-left: auto; margin-right: auto;">
                    <img src="{% get_media_prefix %}{{ product.image }}" alt="Нет изображения"
                         style="display: flex; margin-left: auto; margin-right: auto;">
                </div>
            </a>
            <h4 style="font-family: Arial">
                <b>{{ product.name }}</b>
            </h4>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;
                        margin-left: 15px; margin-right: 15px;">
                <div style="display: flex; flex-direction: column; justify-content: start">
                        {% for packing in product.packing_set.get_queryset %}
                    <div style="display: flex; flex-direction: row; margin-top: 5px; gap: 20px;
                        align-items: center; font-family: Arial;">
                        <b>{{ packing.price }} BYN</b>
                        <div style="height: 20px; display: flex; flex-direction: row; gap: 3px; padding-right: 7px;
                                    padding-left: 7px; border-radius: 2px; background: #00a0ac; align-items: center;
                                    color: white;">
                            <div>{{ packing.name }}</div>
                            <div>{{ packing.unit }}</div>
                        </div>
                        <form action="{% url 'cart:cart_add' packing.id %}" method="post" style="font-size: 9pt;">
                            {{ cart_product_form }}
                            {% csrf_token %}
                            <input type="submit" value="Добавить в корзину" style="font-size: 8pt;">
                        </form>
                    </div>
                        {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
{% endblock %}